.contact{
   height: 100vh;
   background: url("images/contact-bg.jpg");
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   color: white; 
   input, textarea{
      border-radius: 0;
   } 
}