.hero{
   height: 100vh;
   background: url("images/home-bg-slideshow1.jpg");
   background-position: top center;
   background-size: cover;
}
.hero-content{
   text-align: center;
   h1,h4{
      color: white;
   }
   hr{
      width:240px;
      border-color: #ccc;
   }
   h4{
      font-size: 14px;
   }
   h1{
      font-size: 40px;
   }
}
nav {
   .nav-item{
         a{
            color: white !important;
            text-transform: uppercase;
            font-weight: 500;
            padding-right: 5px;
            padding-left: 5px;
            transition: all 0.4s ease-in-out;
         }
         a:hover{
            color: $primary-color !important;
         }
      }
      .active{
         a{
            color: $primary-color !important;
         }
   }
}
.nav-right{
   margin-left:400px;
}
