.title-no{
   font-size: 56px;
   color: $primary-color;
}
.session-title{
   text-align: center;
}
.title-hr{
   width: 100px;
   border-color: #ccc;
}
.work, .about, .team, .portfolio, .pricing, .contact{
   padding-top:100px;
   padding-bottom: 100px;
}